.header {
  background-color: #381DDC;
}

.header-container {
  width: 60%;
  display:flex;
  justify-content: space-between;
  padding: 15px 0;
  margin: 0 auto;
}

.header-logo {
  font-weight: 600;
  font-size: 30px;
  font-style: italic;
  color:#fff;
}

.header-button button {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  color: #381DDB;
  font-size: 12px;
  font-weight: 600;
}

.header-button:hover {
  opacity:0.8;
}

